/*!
 * Dance Marathon v1
 *
 * Copyright 2013 Dance Marathon at Case Western Reserve University
 *
 * Designed and built with care For The Kids.
 */
 
/* MOTTO CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.motto .span4 {
  text-align: center;
}
.motto h2 {
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: normal;
}
.motto .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

 /* STORY BOARDS
    ------------------------- */

.story-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.story {
  padding-top: 40px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

.story-image {
  margin-top: -40px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
  width:50%;
}

.portrait-top {
	padding-top: 150px; 
}

.portrait-image {
	margin-top: -150px;
	width: 38%; 
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.story-image.pull-left, .portrait-image.pull-left {
  margin-right: 40px;
}
.story-image.pull-right, .portrait-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.story-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
} 


 /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        width: 979px;
        height: 500px;
        overflow: hidden;
      }
      .carousel img {
        position: absolute; 
        right: 0; 
        bottom: 0;
        
      }
      .carousel-caption {
        margin-top: 150px;
      }

      .story {
        height: auto;
        padding: 0;
      }
      .story-image.pull-left,
      .story-image.pull-right, 
      .portrait-image.pull-left, 
      .portrait-image.pull-right {
        display: block;
        float: none;
        max-width: 80%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {
      
      }
      .carousel .item {
        width: 767px;
        height: 300px;
        overflow: hidden;
      }
      .carousel img {
        position:absolute;
        right: 0; 
        bottom: 0
      }
      .carousel-caption {
        width: 35%;
        padding: 0 70px;
        margin-top: 75px;
      }
      .carousel-caption h1 {
        font-size: 25px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 16px;
      }

      .motto .span4 + .span4 {
        margin-top: 40px;
      }

      .story-heading {
        font-size: 30px;
      }
      .story .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
